
button, p {
	margin: 1em;
	min-height: 3em;
}

textarea {
	margin: auto;
	width: 90%;
	padding: 3px;
}

.textbox {
	margin: auto;
	width: 75%;
}

.stat {
	color: #b366ff;
}
.lv {
	color: #00bfff;
	font-weight: bold;
}
.sakura {
	color: #ff00bf;
	font-weight: bold;
}
.medium {
	color: #ff8000;
	font-weight: bold;
}
.severe {
	color: red;
	font-weight: bold;
}
footer {
	font-size: 1em;
	text-align: center;
}
footer a, footer span {
	text-decoration: none;
	font-size: 1em;
	color: #cc0088;
}